@page "/"

   <!-- Header -->
    <header>

        <h3 class="ms-fontSize-42 ms-fontweight-Regular">Welcome to Blazor Calendar</h3>

        <!-- Not Authenticated Users-->
        <AuthorizeView>
            <NotAuthorized>
              <a href="#" class="microsoft-login-button shadow-effect"><img src = "Assets/Images/Windows-Logo-PNG-Free-Image.png" alt="">Sign In</a>
            </NotAuthorized>
        </AuthorizeView>
    </header>

    <!-- Calendar Component -->
    <div class  = "row">
    <!-- Calendar-->
        <div class="col-sm-12 col-md-12 col-lg-9">
            <Calendar>
                <DayTemplate Context="day">
                    @{
                        string currentDayClass = day.Date == DateTime.Now.Date ? "current-day" : "";
                    }
                    
                    if(!day.IsEmpty)
                    {
                        <div class="day shadow-effect @currentDayClass">
                            <h3 calss="ms-fontsize-24 ms-fontwieght-regular">@day.DayNumber</h3>
                        </div>
                    }
                </DayTemplate>
            </Calendar>
        </div>
    </div>